
<form id="log-form" method="post" action="/logs">
  <label>title</label>
  <input type="text" name="title"> </br>
  <label>duration</label>
  <input type="text" name="duration"> </br>
  <label>mood</label>
  <input type="text" name="mood"> </br>
  <label>location</label>
  <input type="text" name="location"> </br>
  <input type="submit" value="create">
</form>
