  <div class="unfollow<%= @log.id %>">

    <form class="unfollowme" method="post" action='/logs/<%= @log.id %>/unfollow'>
        <input id="unfollow" class="button" type="submit" value="Unfollow">
    </form>
    </div>
         <p class="followtext"> You are currently following <%= @log.user.username %> <p>
