   <div id="follow<%= @log.id %>">
          <form class="followbut" method="post" action='/logs/<%= @log.id %>/follow'>
         <input class="button" type="submit" value="Follow">
         </form>
        </div>
